@page "~/Sobre Nossa Empresa"
@model MyRazorApp.Pages.Pages_Sobre
@{
    ViewData["Titulo"] = "Sobre";
}

    <h1>Sobre</h1>

    @section scripts{
        <script> src="~/js/site.js"</script>
    }
    
